[loggers]
keys=root, loggers

[handlers]
keys=consoleHandler

[formatters]
keys = formatter

[logger_root]
level=DEBUG
handlers=consoleHandler

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=formatter
args=(sys.stderr,)

[logger_ingest]
level= INFO
handlers =fileHandler
qualname = Ingest
propagate = 0

[logger_loggers]
level=DEBUG
handlers =consoleHandler
qualname = Loggers
propagate = 0

[formatter_formatter]
format=%(asctime)s %(name)-12s %(levelname)-8s %(message)s